{% extends 'base.html' %}
{% block title %}{{name_page}}{% endblock %}
{% block content %}
    <main class="admin-panel-main">
        <div class="container admin-panel-main__container grid">
            <div class="admin-panel-main__col">
                <ul class="admin-panel-main__languages">
                    {% for lang in langs %}
                        <li class="admin-panel-main__language">
                            <button class="admin-panel-main__button">{{lang.name_language}}</button>
                            <ul class="admin-panel-main__parts hidden">
                                {% for part in lang.part_list %}
                                    <li class="admin-panel-main__part">
                                        <button class="admin-panel-main__button">{{part.name_part}}</button>
                                        <ul class="admin-panel-main__chapters hidden">
                                            {% for chapter in part.chapter_list %}
                                                <li class="admin-panel-main__chapter"><button class="admin-panel-main__button"><a href=" {{url_for('admin_panel', data_input_chapter=chapter.id_chapter)}}">{{chapter.name_chapter}}</a></button></li>
                                            {% endfor %}
                                            <li class="admin-panel-main__chapter"><a href="{{url_for('adding_chapter', part=part.name_part)}}">+ Добавить</a></li>
                                        </ul>
                                {% endfor %}
                                <li class="admin-panel-main__part"><a href="{{url_for('adding_part', language=lang.name_language)}}">+ Добавить</a></li>
                            </ul>
                    {% endfor %}
                    <li class="admin-panel-main__language"><a href="{{url_for('adding_language')}}">+ Добавить</a></li>
                </ul>
            </div>
            {% if current_chapter %}
            <div class="admin-panel-main__col grid">
                <h1>{{current_chapter.name_chapter}}</h1>
                <form class="admin-panel-main__col grid" action="/admin-panel/update-chapter-tasks?data_input_chapter={{request.args.get('data_input_chapter')}}" method="POST">
                    <textarea id="admin-panel-main__text-chapter" name='text_chapter'>{{current_chapter.text_chapter | safe}}</textarea>
                    <h2 class="admin-panel-main__tasks-title">Задачи</h2>
                    {% if current_chapter.task_list %}
                        {% for task in current_chapter.task_list %}
                            <div class="admin-panel-main__task">
                                <div class="admin-panel-main__task-item">
                                    <label for='name_task_{{loop.index}}' class="admin-panel-main__name-task">Название задачи #{{loop.index}}</label>
                                    <input class="admin-panel-main__input-task" type="text" name='name_task_{{loop.index}}' value='{{ task.name_task}}' id='name_task_{{loop.index}}'/>
                                </div>
                                <div class="admin-panel-main__task-item">
                                    <label for='text_task_{{loop.index}}' class="admin-panel-main__condition-task">Условия задачи</label>
                                    <textarea class="admin-panel-main__input-task" type="text" name='text_task_{{loop.index}}' id='text_task_{{loop.index}}'>{{task.text_task}}</textarea>
                                </div>
                                <div class="admin-panel-main__task-item">
                                    <label for='solution_task_{{loop.index}}' class="admin-panel-main__solution-task">Решение</label>
                                    <textarea class="admin-panel-main__input-task" type="text" name='solution_task_{{loop.index}}' id='solution_task_{{loop.index}}'>{{task.solution}}</textarea>
                                </div>
                                <div class="admin-panel-main__task-item">
                                    <label for='hint_task_{{loop.index}}' class="admin-panel-main__hint-task">Подсказка</label>
                                    <textarea class="admin-panel-main__input-task" type="text" name='hint_task_{{loop.index}}' id='hint_task_{{loop.index}}'>{{task.hint}}</textarea>
                                </div>
                                <button class="admin-panel-main__delete-task-btn"><a href="{{url_for('delete_task', current_chapter=current_chapter.id_chapter, delete_task=loop.index)}}">- Удалить задачу</a></button>
                            </div>
                        {% endfor %}
                    {% endif%}
                    <button class='admin-panel-main__add-task-btn'><a href="{{url_for('adding_task', current_chapter=current_chapter.id_chapter)}}">+ Добавить задачу</a></button>
                    <button class="admin-panel-main__create-chapter">Обновить</button>
                </form>
            </div>
            <div class="admin-panel-main__col">
                <fieldset id='btns-cont' class="admin-panel-main__btns">
                    <legend id='title_btns'>Buttons</legend>
                    <button class="admin-panel-main__h1 admin-panel-main__add-btn">+ Заголовок 1 уровня</button>
                    <button class="admin-panel-main__h2 admin-panel-main__add-btn">+ Заголовок 2 уровня</button>
                    <button class="admin-panel-main__h3 admin-panel-main__add-btn">+ Заголовок 3 уровня</button>
                    <button class="admin-panel-main__ul admin-panel-main__add-btn">+ Маркерованный список</button>
                    <button class="admin-panel-main__ol admin-panel-main__add-btn">+ Нумерованный список</button>
                    <button class="admin-panel-main__p admin-panel-main__add-btn">+ Параграф</button>
                    <button class="admin-panel-main__img admin-panel-main__add-btn">+ Изображение</button>
                    <button class="admin-panel-main__highlightjs admin-panel-main__add-btn">+ Вставить highlight-код</button>
                </fieldset>
                <form class="admin-panel-main__seo-from" action="/admin-panel/update-seo?data_input_chapter={{request.args.get('data_input_chapter')}}" method="POST">
                    <fieldset class="admin-panel-main__seo">
                        <legend id='title_seo'>SEO</legend>
                        <label for="keywords" class="admin-panel-main__seo-item">Ключевые слова</label>
                        <input type="text" id='keywords' class='admin-panel-main__seo-input' name='keywords_chapter' value='{{current_chapter.seo.keywords}}'>
                        <label for="description" class="admin-panel-main__seo-item">Описание</label>
                        <textarea type="text" id='description' class='admin-panel-main__seo-input' name='description_chapter'>{{current_chapter.seo.description}}</textarea>
                        <button type="submit" class='admin-panel-main__seo-btn'>Обновить</button>
                    </fieldset>
                </form>
            </div>
            {% else %}
            <h1>Глав пока нет</h1>
            {% endif %}
        </div>
    </main> 
{% endblock %}