{% extends 'base.html' %}
{% block title %}Условия пользования сайтом{% endblock %}
{% block content %}
<div class="agreement__container">
    <h1>Условия пользования сайтом</h1>
    <p>Присоединяясь к настоящему Соглашению и оставляя свои данные на Сайте https://cloudexp.ru (далее — Сайт), путём заполнения полей форм Пользователь:</p>
    <ul>
        <li>Подтверждает, что все указанные им данные принадлежат лично ему;</li>
        <li>Подтверждает и признаёт, что им внимательно в полном объёме прочитано Соглашение и условия обработки его персональных данных, указываемых им в полях форм, текст Соглашения и условия обработки персональных данных ему понятны;</li>
        <li>Даёт согласие на обработку Сайтом предоставляемых в составе информации персональных данных в целях заключения между ним и Сайтом настоящего Соглашения, а также его последующего исполнения;</li>
        <li>Выражает согласие с условиями обработки персональных данных.</li>
    </ul>
    <p>Пользователь даёт своё согласие на обработку его персональных данных, а именно совершение действий, предусмотренных п. 3 ч. 1 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ «О персональных данных», и подтверждает, что, давая такое согласие, он действует свободно, своей волей и в своём интересе.</p>
    <p>Согласие Пользователя на обработку персональных данных является конкретным, информированным и сознательным.</p>
    <p>Целью обработки персональных данных является предоставление Пользователю услуг, описанных на Сайте.</p>
    <p>Настоящее согласие Пользователя признаётся исполненным в простой письменной форме, на обработку следующих персональных данных:</p>
    <ul>
        <li>Адресов электронной почты (e-mail);</li>
        <li>Cookie-файлов;</li>
    </ul>
    <p>Пользователь, предоставляет https://cloudexp.ru право осуществлять следующие действия (операции) с персональными данными: сбор и накопление; хранение в течение установленных нормативными документами сроков хранения отчётности, но не менее трёх лет, с момента даты прекращения пользования услуг Пользователем; уточнение (обновление, изменение); использование; уничтожение; обезличивание; передача по требованию суда, в т. ч., третьим лицам, с соблюдением мер, обеспечивающих защиту персональных данных от несанкционированного доступа.</p>
    <p>Указанное согласие действует бессрочно с момента предоставления данных и может быть отозвано вами путём подачи заявления администрации сайта с указанием данных, определённых ст. 14 Закона «О персональных данных».</p>
    <p>Отзыв согласия на обработку персональных данных может быть осуществлён путём направления Пользователем соответствующего распоряжения в простой письменной форме на адрес электронной почты (e-mail) admin@cloudexp.ru</p>
    <p>Сайт имеет право вносить изменения в настоящее Соглашение. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Соглашения вступает в силу с момента её размещения, если иное не предусмотрено новой редакцией Соглашения.</p>
    <p>Действующая редакция Соглашения находится на странице по адресу: <a href="{{url_for('agreement')}}">https://cloudexp.ru/agreement</a>.</p>
    <p>К настоящему Соглашению и отношениям между Пользователем и Сайтом, возникающим в связи с применением Соглашения, подлежит применению право Российской Федерации.</p>
</div>
{% endblock %}