{% extends 'base.html' %}
{% block head %}
<meta charset="UTF-8">
<title>{{name_page}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href=" {{url_for('static', filename='img/favicon.png')}} " type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<meta name='keywords' content="{{chapter.seo.keywords}}">
<meta name='description' content="{{chapter.seo.description}}">
{% endblock %}
{% block content %}
<main class="chapter-main">
    <div class="container chapter-main__container grid">
        <div class="chapter-main-sidebar">
            <h3 class="chapter-main-sidebar__title">{{part.name_part}}</h3>
            <ul class="chapter-main-sidebar__list">
                {% for chapter in part.chapter_list %}
                    <li class="chapter-main-sidebar__list-item"><a class="chapter-main-sidebar__list-link" href="{{url_for('getPart', language=lang.name_language, name_part=part.name_part, number_chapter=loop.index)}}">- {{chapter.name_chapter}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="chapter-main-content">
            <h1 class="chapter-main-content__title">{{chapter.name_chapter}}</h1>
            {{chapter.text_chapter | safe}}
            <div class="tasks">
                {% if task_list != '' %}
                    <h1 class="tasks__header">Задачи</h5>
                    {% for task in task_list %}
                        <div class="task">
                            <h2 class="task__header">Задача {{loop.index}}</h6>
                            <h3 class='task__name'>{{task.name_task}}</h4>
                            <p class="task__content">{{task.text_task}}</p>
                            <div class="task__solution">
                                <div class="task__solution-code hidden">{{task.solution | safe}}</div>
                                <button class="task__solution-btn">Показать решение</button>
                                <div class="task-solution-hint">
                                    <button class="task-solution-hint__btn">Подсказка</button>
                                    <span class="task-solution-hint__popup hidden">{{task.hint}}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}